<div class="d-flex">
  <!-- sidebar -->
  <!-- 
            bd-dark = div en oscuro
            border-right = mantener una linea del mismo color bg-dark al lado derecho del div
            p-3 = padding 3 que es un margen dentro del div con la letra.
            siderbar = mirar el styles css
   -->

  <!-- <div class="bg-dark border-right p-3 siderbar">
    <h3 class="text-light">
      Gifs-App
    </h3>

    <hr class="text-light">

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Ben simmons</a>
    </div>
  </div> -->

  <app-siderbar></app-siderbar>

  <!-- Mostrar Imagenes -->
  <div class="container">


    <!-- Barra Buscar -->
    <!-- <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" value="" class="form-control" placeholder="Buscar Gifs...">
      </div>
    </div>
    <hr> -->
    <!-- Imagenes y resultados -->
    <!-- <div class="row">
      <div class="col">

      </div>
    </div> -->

    <!-- <app-gifs-pages></app-gifs-pages> -->
    <router-outlet></router-outlet>


  </div>

</div>