<!-- Barra Buscar -->
<div class="row p-3">
    <div class="col">
      <!-- <h5>Buscar:</h5>
      <input type="text" value="" class="form-control" placeholder="Buscar Gifs..."> -->
      <app-buscador></app-buscador>
    </div>
  </div>
  <hr>
  <!-- Imagenes y resultados -->
  <div class="row">
    <div class="col">
        <app-card-gifs></app-card-gifs>
        <!-- Cartas que van a mostrar los gifs de la app -->
        <!-- <div class="row">
            <div class="card col-md-4 col-sm-6">
                <div class="card-body">
                    Imagen
                    <p class="card-text">
                        titulos
                    </p>
                </div>
            </div>
        </div> -->
    </div>
  </div>
